<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/assets/app.css">
    <script src="/assets/app.js"></script>
  </head>
  <body>
    <%= @partials.nav %>
    <h1><%= @title %></h1>
    <section>
      <%= @content %>
    </section>
    <%= @partials.footer %>
  </body>
</html>
